@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(images/bac2.jpg);
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top center;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover ;

    

}

.title{
    

    display: flex;
    flex-direction: row;
     justify-content: center;
    align-items: center; 
    margin: auto;
    font-family: 'Architects Daughter', cursive;
   
   
   
    /* width: auto; */
}

.temp{
  font-family: 'Architects Daughter', cursive;
  /* font-size:100px; */
}
ul {
    display: flex;
    
  }
  
  li {
    
    list-style: none;
    /* font-size: 100px; */
    font-size: 120px;
    font-weight: bold;
    letter-spacing: 8px;

    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  .fire li {
    color: black;
  }
  
  .ice li {
    color: white;
  }
  
  /* .wrapper:hover li {
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
   */

/*    
  .wrapper:hover .fire li {
    animation-name: fire-color;
  }
  
  .wrapper:hover .ice li {
    animation-name: ice-color;
  } */
  

   
   .fire li {
    animation-name: fire-color;
  }
  
   .ice li {
    animation-name: ice-color;
  }





  /* Animation delay for each letter */
  li:nth-child(1) {
    animation-delay: 0;
  }
  
  li:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  li:nth-child(3) {
    animation-delay: 0.2s;
  }
  
  li:nth-child(4) {
    animation-delay: 0.3s;
  }
  
  li:nth-child(5) {
    animation-delay: 0.4s;
  }
  
  #input-box{
    font-family: cursive;
  }
  
  
  /* Fire Animation */
  @keyframes fire-color {
    0% {
      color: #801100;
    }
  
    20% {
      color: #b62203;
    }
  
    40% {
      color: #d73502;
    }
  
    60% {
      color: #fc6400;
    }
  
    80% {
      color: #ff7500;
    }
  
    100% {
      color: #fac000;
    }
  }
  
  /* Ice Animation */
  @keyframes ice-color {
    0% {
      color: #ffffff;
    }
  
    25% {
      color: #b9e8ea;
    }
  
    50% {
      color: #86d6d8;
    }
  
    75% {
      color: #3fd0d4;
    }
  
    100% {
      color: #20c3d0;
    }
  }
  
@media only screen and (max-width:600px) {

    li{
        font-size: 80px;
    }
}

@media only screen and (max-width:450px) {

    li{
        font-size: 65px;
    }
    .title{
      margin-bottom: 30px;
    }
   
}

@media  (max-width:400px) {

    li{
        font-size: 50px;
    }
.title{
  margin-bottom: 40px;
}
    .app-main{
        max-width:290px; 
    }
}


@media only screen and (max-width:300px) {

    li{
        font-size: 40px;
    }

    .app-main{
        max-width:260px; 
    }

   
   
}

.app-main
{
    /* width:50vh ; */
    width:370px ;

    /* margin: 40px auto; */
    margin: 0 auto;
    /* margin-bottom: 400px; */
    background-color: rgba(240,248,255,0.6);
    padding: 20px;
    text-align: center;
     
}

.app-main > *
{
    margin-bottom: 20px;
}  

.input-box{
    width: 100%;
    background-color: rgba(255,255,255,0.6);
    border: none;
    outline: none;
    color: #582233;
    font-size: 1.2rem;
    height: 50px;
    border-radius: 5px;
    padding: 0 10px;
    text-align: center;

}

.input-box:focus{
    background-color: rgba(255,255,255);
}

.weather-body{
    display: none;
    /* display: block; */
    color: #582233;
    padding: 20px;
    line-height: 2rem;
    border-radius: 10px;
    background-color:rgba(255,255,255,0.6) ;
    height: 50vh;
}

.location-details{
    font-weight: bold;
}

.weather-status{
    padding: 20px;
}

.temp{
    font-size: 70pt;
    font-weight: 700;
    margin: 20px 0;
    text-shadow: 2px 4px rgba(0,0,0,0.3);
}

.min-max , .weather{
    font-size: 12pt;
    font-weight: 600;
}
     
  
